// hero
.hero {
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    background-position: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), (rgba(47, 48, 58, 0.8))),
        url('./../images/header480px.jpg');
    background-color: #c4c4c4;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 118px;
    padding-bottom: 118px;

    text-align: center;

    @media screen and (min-width: $desktop) {
        height: 600px;
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.8), (rgba(47, 48, 58, 0.8))),
            url('./../images/header@2x480px.jpg');
    }

    @media screen and (min-width: $tablet) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.8), (rgba(47, 48, 58, 0.8))),
            url('./../images/header768px.jpg');
    }

    @media screen and (min-width: $desktop) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.8), (rgba(47, 48, 58, 0.8))),
            url('./../images/header1600px.jpg');
        height: 600px;
    }

    @media screen and (min-width: $tablet) {
        & {
            @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.8), (rgba(47, 48, 58, 0.8))),
                    url('./../images/header@2x768px.jpg');
            }
        }
    }

    @media screen and (min-width: $desktop) {
        & {
            @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.8), (rgba(47, 48, 58, 0.8))),
                    url('./../images/header@2x1600px.jpg');
                height: 600px;
            }
        }
    }
}

.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    color: #ffffff;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
        width: 360px;
    }

    @media screen and (min-width: $desktop) {
        width: 698px;

        font-size: 44px;
        line-height: 1.36;
    }
}

.button {
    border-radius: 4px;
    border: 1px transparent;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;

    color: #ffffff;
    background-color: $accent-color;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
