.team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f5f4fa;

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: $title-text-color;

    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
    }
}

.team__items {
    @media (min-width: $tablet) and (max-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
    }
}

.team__item {
    @media (min-width: $tablet) and (max-width: $desktop) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: $tablet) {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
        margin-left: 30px;

        &:first-child {
            margin-left: 0;
        }
    }
}

.team__item--shadow {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: #fff;
}

.holder {
    padding: 30px 0 30px;
}

.holder__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: $title-text-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.holder__text {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding: 0;
}

.socials__item {
    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }
}

.socials__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    justify-content: center;
    align-items: center;

    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: #ffffff;
        background-color: $accent-color;
    }
}
