body {
    background-color: #ffffff;
    color: $primery-text-color;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

header {
    border-bottom: 1px solid #ececec;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #2f303a;
}
